body {
  font-family: 'Sen', Arial, Helvetica, sans-serif;
  text-align: center;
  /* overflow-x: hidden; */
  margin:0px;
  background-color: #222326;
  /* color: #99aab5; */
  color: white;
}

p {
  color: #99aab5;
}

div:has(> textarea) {
  display: flex;
  max-width: fit-content;
  margin: 0 auto;
}

textarea {
  height: 100%;
  border: none;
  outline: none;
  background-color: #202225;
  color: #dcddde;
  font: inherit;
  /* font-family: Helvetica; */
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  margin: 0 5px;
  /* resize false */
  resize: none;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

button {
  background-color: #7289da;
  color: #fff;
  font: inherit;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
}

#copy {
  background-color: #3ca45c;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

#copy:hover {
  background-color: #2e8a4c;
}

/* #reset {
  background-color: #f04747;
}

#reset:hover {
  background-color: #d43f3f;
} */

button:hover {
  background-color: #5f73bc;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
  max-width: 800px;
  margin: 0 auto;
  /* padding: 20px; */
  justify-content: center;
  box-sizing: border-box;
}

main > div {
  margin: 0 auto;
  width: 80%;
  background-color: #2c2f33;
  /* border: 1px solid #99aab5; */
  border-radius: 12px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  padding: 20px;
}

main > div::before {
  content: "how are you seeing this";
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 100px;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #3ca45c;
  opacity: 0.5;
}

span {
  color: #3ca45c;
  background-color: #202225;
  /*background-color: #3ca45c;*/
  /*font-family: monospace;*/
}

img {
  border-radius: 12px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  max-width: 100%;
  height: auto;
  max-height: 81px;
}

a {
  /*color: deepskyblue;*/
  display: inline-block;
  background-color: hsl(225deg 6% 27%);
  /* color: white; */
  color: #99aab5;
 padding: 0.7em;
  margin: 0.2em;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  max-width: fit-content;
  transition: scale 0.1s;
  overflow: hidden;;
/*  display:flex;*/
}

a:hover {
  color: deepskyblue;
}

hr {
  border: 1px dashed #99aab5;
  margin: 20px 0;
}